.bg-primary{
  background-color: $primary;
}
.bg-secondary{
  background-color: $secondary;
}
.bg-dark{
  background-color: $dark;
}
.bg-grey{
  background-color: $grey;
}
.bg-light{
  background-color: $light;
}
.bg-white{
  background-color: $white;
}

.primary{
  color: $primary;
}
.secondary{
  color: $secondary;
}
.dark{
  color: $dark;
}
.grey{
  color: $grey;
}
.light{
  color: $light;
}
.white{
  color: $white;
}

.border-primary{
  border-color: $primary;
}
.border-secondary{
  border-color: $secondary;
}
.border-dark{
  border-color: $dark;
}
.border-grey{
  border-color: $grey;
}
.border-light{
  border-color: $light;
}
.border-white{
  border-color: $white;
}
