$primary: #e6616d;
$secondary: #fdd894;
$dark: #332c62;
$grey: #989898;
$light: #f4f5f7;
$white: #FFF;

$sXXXL: 96px;
$sXXL: 88px;
$sXL: 80px;
$sL: 72px;
$sM: 64px;
$sS: 56px;
$sXS: 48px;
$sXXS: 40px;
$sT: 32px;
$sXT: 24px;
$sXXT: 16px;
$sXXXT: 8px;
